AI-ARC_datamodel.xsd

<!-- 
	Generated by Universidad Politecnica de Madrid (UPM) - 2023. 
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://raw.githubusercontent.com/lisshernandez/DMTest/main">
 <!--<xs:include schemaLocation="Surveillance-copy.xsd"/>-->
  <xs:element name="datamodel" type="AIARC_DataModel">
    <xs:annotation>
      <xs:documentation source="version">1.0</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AIARC_DataModel">
    <xs:annotation>
      <xs:documentation source="version">1.0</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="AnomalyPrediction" type="anomalyprediction" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Anomaly Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IcepacksPrediction" type="icepacksprediction" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Anomaly Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="VesselPrediction" type="vesselprediction" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Anomaly Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SurveillanceClass" type="Surveillance" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Anomaly Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Reliability" type="reliability" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="description">Anomaly Prediction class defined in AI-ARC project.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
</xs:schema>